{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <div class="alert {{ messageStatus }}" role="alert" style="margin-top: 10vh">
            {{ message }}
        </div>
    </div>
{% endblock %}