{% extends 'navbarBase.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>{{ title }}</h1>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}
        {{ form(form) }}
        {% if isUpdate %}
            <a href="{{ path("employee_delete", {id: employee.getId()}) }}" class="btn btn-sm btn-danger">Löschen</a>
        {% endif %}
    </div>
    <script>

        const logic = (e) => {
            if (e.target.checked) {
                document.getElementById('targetWorkingHoursLabel').style = "display: block";
                document.getElementById('employee_targetWorkingHours').style = "display: block";
                document.getElementById('employee_targetWorkingHours').required = true;
                document.getElementById('targetWorkingTimeBeginLabel').style = "display: block";
                document.getElementById('employee_targetWorkingTimeBegin').style = "display: block";
                document.getElementById('employee_targetWorkingTimeBegin').required = true;
                document.getElementById('targetWorkingTimeEndLabel').style = "display: block";
                document.getElementById('employee_targetWorkingTimeEnd').style = "display: block";
                document.getElementById('employee_targetWorkingTimeEnd').required = true;
            } else {
                document.getElementById('targetWorkingHoursLabel').style = "display: none";
                document.getElementById('employee_targetWorkingHours').style = "display: none";
                document.getElementById('employee_targetWorkingHours').required = false;
                document.getElementById('targetWorkingTimeBeginLabel').style = "display: none";
                document.getElementById('employee_targetWorkingTimeBegin').style = "display: none";
                document.getElementById('employee_targetWorkingTimeBegin').required = false;
                document.getElementById('targetWorkingTimeEndLabel').style = "display: none";
                document.getElementById('employee_targetWorkingTimeEnd').style = "display: none";
                document.getElementById('employee_targetWorkingTimeEnd').required = false;
            }
        };
        document.getElementById('employee_targetWorkingPresent').addEventListener('change', logic);
        if (document.getElementById('employee_targetWorkingPresent').checked) {
            logic({target: {checked: true}});
        }
        if (window.location.href.indexOf("/update/") > -1) {
            document.getElementById("employee_username").disabled = true;
        }
    </script>
{% endblock %}