{% extends 'navbarBase.html.twig' %}


{% block body %}
    <div class="container">
        <h1>Mitarbeiter Übersicht</h1>
        <a class="btn btn-primary" href="{{ path("employee_create") }}">Neu anlegen</a>
        <table class="table">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Benutzername</th>
                <th scope="col">Vorname</th>
                <th scope="col">Nachname</th>
                <th scope="col">Wochen-Soll (Stunden)</th>
                <th scope="col">Regulärzeiten</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Mark</td>
                <td>Otto</td>
                <td>@mdo</td>
            </tr>
            </tbody>
        </table>
    </div>
{% endblock %}