{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Die Software wird aktualisiert...</h1>
        <h5>Es können momentan keine Anfragen mehr entgegen genommen werden.</h5>
        <h5>Es dauert noch einige Sekunden, bis die Aktualisierung startet. Bleiben sie geduldig.</h5>
        <h5>Sie werden nach der Aktualisierung automatisch auf die Startseite weitergeleitet.</h5>
    </div>
{% endblock %}