{% extends 'base.html.twig' %}

{% block body %}
    <style>
        .lds-ring,
        .lds-ring div {
            box-sizing: border-box;
        }
        .lds-ring {
            display: inline-block;
            position: relative;
            width: 80px;
            height: 80px;
        }
        .lds-ring div {
            box-sizing: border-box;
            display: block;
            position: absolute;
            width: 64px;
            height: 64px;
            margin: 8px;
            border: 8px solid currentColor;
            border-radius: 50%;
            animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
            border-color: currentColor transparent transparent transparent;
        }
        .lds-ring div:nth-child(1) {
            animation-delay: -0.45s;
        }
        .lds-ring div:nth-child(2) {
            animation-delay: -0.3s;
        }
        .lds-ring div:nth-child(3) {
            animation-delay: -0.15s;
        }
        @keyframes lds-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
        }


    </style>
    <div class="container mt-5">
        <h1>Die Software wird aktualisiert...</h1>
        <h5>Es können momentan keine Anfragen mehr entgegen genommen werden.</h5>
        <h5>Es dauert noch einige Sekunden, bis die Aktualisierung startet. Bleiben sie geduldig.</h5>
        <h5>Sie werden nach der Aktualisierung automatisch auf die Startseite weitergeleitet.</h5>
        <div class="lds-ring"><div></div><div></div><div></div><div></div></div>
    </div>
    <script>
        setTimeout(() => {
            setInterval(() => {
                let loc = document.location.href.split('/software/update/perform')[0];
                fetch(loc).then((res) => {
                    if (res.ok) {
                        window.location.replace(loc);
                    }
                })
            }, 1000)
        }, 15000)
    </script>
{% endblock %}