{% extends 'navbarBase.html.twig' %}


{% block body %}
    <div class="container mt-5">
        <h1>Software Update: {{ tagName }}</h1>
        <p>
            {{ content }}
        </p>
        <a class="btn btn-danger" href="{{ path("software_update_perform") }}">Software aktualisieren</a>
    </div>
{% endblock %}