{%  extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Setup application</h1>
        {% if errorMessage is not null %}
            <div class="alert alert-danger" role="alert">
                {{ errorMessage }}
            </div>
        {% endif %}
        {{ form(form) }}
    </div>
{% endblock %}