{% extends 'navbarBase.html.twig' %}

{% block body %}
    <div class="container mt-5">
        <h1>Worktime</h1>
        <p>Willkommen in der Arbeitszeitmanagement Software Worktime! Wir wünschen ihnen viel Spaß und frohes Schaffen!</p>
    </div>
{% endblock %}